* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1e1e1e;
}

#top-half {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-bottom: 4px solid #333;
}

#staff-canvas {
  background-color: #f3f3f3;
}

#bottom-half {
  height: 50vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.piano {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 80%;
}

.key {
  cursor: pointer;
  user-select: none;
}

.key.white {
  flex: 1;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0 0 5px #ccc;
}

.key.white:active {
  background: #e0e0e0;
}

.key.black {
  position: absolute;
  width: 4.5%;
  background: #222;
  height: 60%;
  z-index: 2;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 0 3px #000;
}

.key.black:active {
  background: #444;
}
